@rich-black-fogra-29: rgba(0, 21, 36, 1);
@ming: rgba(21, 97, 109, 1);
@blanched-almond: rgba(255, 236, 209, 1);
@amber-sae-ece: rgba(255, 125, 0, 1);
@kobe: rgba(120, 41, 15, 1);

@gradient-top: linear-gradient(0deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-right: linear-gradient(90deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-bottom: linear-gradient(180deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-left: linear-gradient(270deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-top-right: linear-gradient(45deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-bottom-right: linear-gradient(135deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-top-left: linear-gradient(225deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-bottom-left: linear-gradient(315deg,#001524, #15616d, #ffecd1, #ff7d00, #78290f);
@gradient-radial: radial-gradient(#001524, #15616d, #ffecd1, #ff7d00, #78290f);

@red-salsa: rgba(249, 65, 68, 1);
@orange-red: rgba(243, 114, 44, 1);
@yellow-orange-color-wheel: rgba(248, 150, 30, 1);
@mango-tango: rgba(249, 132, 74, 1);
@maize-crayola: rgba(249, 199, 79, 1);
@pistachio: rgba(144, 190, 109, 1);
@zomp: rgba(67, 170, 139, 1);
@cadet-blue: rgba(77, 144, 142, 1);
@queen-blue: rgba(87, 117, 144, 1);
@cg-blue: rgba(39, 125, 161, 1);

@gradient-top: linear-gradient(0deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-right: linear-gradient(90deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-bottom: linear-gradient(180deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-left: linear-gradient(270deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-top-right: linear-gradient(45deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-bottom-right: linear-gradient(135deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-top-left: linear-gradient(225deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-bottom-left: linear-gradient(315deg,#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);
@gradient-radial: radial-gradient(#f94144, #f3722c, #f8961e, #f9844a, #f9c74f, #90be6d, #43aa8b, #4d908e, #577590, #277da1);