* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    background: rgb(0, 210, 210);
}

ul, li {
    list-style-type: none;
}
li {
    display: inline-block;
    &:not(:last-child) {
        margin-right: 3rem;
    }
    text-align: center;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    border: 2px solid rgb(0, 230, 172);
    background: rgb(0, 230, 172);
    transition: .5s;
    padding: .5rem;
    &:hover{
        background: none;
    }
}

header {
    background: black;
    padding: 2rem 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    width: 100%;
}