* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: rgb(0, 210, 210);
}

ul, li {
    display: inline-block;
}

.container {
    display: flex;
    justify-content: space-evenly;
}